*,
*::before,
*::after {
  box-sizing: border-box;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  color: currentColor;
  text-decoration: none;
  cursor: url(../bxs_hand-down.svg), pointer;
}
.gallery {
  max-width: 1128px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 24px;
}

.gallery-image {
  width: 360px;
  height: 200px;
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-image:hover,
.gallery-image:focus {
  transform: scale(1.04);
}
